$shadow: 2px 2px 6px 2px #ccc;

@mixin shadow-container {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

.menu-btn {
  height: 20px;
  width: 100px;
  margin: 20px;
  padding: 10px;
  background: black;
  border-radius: 2px;
  text-align: center;
  user-select: none;
  position: relative;
  @include shadow-container();

  &:hover {
    opacity: 0.7;
    // color: red;
  }

  &:active {
    opacity: 0.9;
    box-shadow: none;
  }

  span {
    color: white;
  }
}
