$border-grey: rgb(189, 189, 189);

.footer-section {
  border-top: rgb(223, 221, 221) solid 1px;
}
.footer-wrapper {
  padding-top: 40px;
  padding-bottom: 10px;
  margin: 0 auto;
  max-width: 980px;
  background: #ffffff;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-menu {
  display: flex;
  /* justify-content: center; */
  align-items: stretch;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  max-width: 1920px;
}

.footer-info-wrapper {
  height: 100%;
  word-break:break-all;
  border-top: rgb(223, 221, 221) solid 1px;
}

.footer-info-container {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-logo-wrapper {
  float: left;
  height: 100%;
  padding-top: 6px;
  a {
    color: black;
  }
}

.footer-info {
  float: right;
  display: flex;
  height: 100%;
}

.divider {
  border-bottom: none;
  border-color: $border-grey;
}

// /*
// * Desktop
// */
// @media (min-width: 1128px) {
//   .footer-container {
//     margin-left: 180px;
//     margin-right: 180px;
//   }
// }

// @media (min-width: 744px) {
//   .footer-container {
//     padding-top: 48px !important;
//     padding-bottom: 48px !important;
//   }
// }
